/*
 * RMNC.cc
 * http://rmnc.cc/
 *
 * Author:          Marc Hibbins
 * Version:         1.0.0
 * License:         Attribution-ShareAlike 4.0 International
 * License URI:     http://creativecommons.org/licenses/by-sa/4.0/
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  background: black url(/img/bg.jpg) center center no-repeat;
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: #ff0101;
  line-height: 24px;
  min-height: 100%;
  min-width: 260px;
  position: relative;
}

a {
  color: #ff0101;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  width: 260px;
}
@media (min-width: 30em) {
  .container {
    width: 420px;
  }
}
@media (min-width: 46.25em) {
  .container {
    width: 540px;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  margin-bottom: 26px;
  text-align: center;
}

.title {
  margin-bottom: 10px;
  letter-spacing: 12px;
  text-transform: uppercase;
}

.mailto {
  clear: both;
  text-align: center;
}

.social {
  text-align: center;
}
.social img {
  border: 0;
  margin: 20px 0 0;
  padding: 0 5px;
}

.form-container {
  margin-bottom: 26px;
  min-height: 35px;
}
.form-container #mc_embed_signup {
  margin: 0 auto;
}
.form-container #mc_embed_signup form {
  padding: 0;
}
.form-container #mc_embed_signup .mc-field-group {
  margin-bottom: 0;
  min-height: 0;
  padding-bottom: 0;
  width: 100%;
}
@media (min-width: 30em) {
  .form-container #mc_embed_signup .mc-field-group {
    float: left;
    width: 285px;
  }
}
@media (min-width: 46.25em) {
  .form-container #mc_embed_signup .mc-field-group {
    width: 405px;
  }
}
.form-container #mc_embed_signup .mc-field-group input {
  background-color: #eee;
  border-color: white;
  border-radius: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin: 0;
}
.form-container #mc_embed_signup .mc-submit {
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 30em) {
  .form-container #mc_embed_signup .mc-submit {
    margin-top: 0;
    float: right;
    text-align: right;
    width: 135px;
  }
}
.form-container #mc_embed_signup div.mce_inline_error {
  background: black;
  padding-left: 0;
  color: #f00;
}
.form-container #mc_embed_signup .button {
  border-radius: 0;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  line-height: 35px;
  margin: 0;
  height: 35px;
}
.form-container #mc_embed_signup .button:hover, .form-container #mc_embed_signup .button:active {
  background-color: #ff0101;
}


