// Set sizes per breakpoint
$logo-sizes: (
    mobile: (
        width: 300px,
        height: 78px
    ),
    mobileLandscape: (
        width: 420px,
        height: 108px
    ),
    tablet: (
        width: 540px,
        height: 138px
    ),
    desktop: (
        width: 640px,
        height: 164px
    )
);

// Get logo dimension for breakpoint
@function logo-size($dim, $name: mobile) {
    @return map-get(map-get($logo-sizes, $name), $dim);
}

// Container for center logo
@mixin logo-container($name: mobile) {
    $width: logo-size(width, $name);
    $height: logo-size(height, $name);
    width: $width;
    height: $height;
    margin-left: -($width / 2);
    margin-top: -($height / 2);
}

// Resize logo for breakpoint
@mixin logo-background-size($name: mobile) {
    $width: logo-size(width, $name);
    $height: logo-size(height, $name);
    background-size: $width $height;
}

// Reuseable logo background
@mixin logo-background {
    background-image: url(/img/logo-slim.png);
    background-position: center center;
    background-repeat: no-repeat;

    @include logo-background-size;

    @include mq(tablet) {
        @include logo-background-size(tablet);
    }

    @include mq(desktop) {
        @include logo-background-size(desktop);
    }
}

.container {
    background-color: black;
    overflow-x: hidden;

    @include logo-background;
    background-position: center bottom (-(logo-size(height) / 2));

    @include mq(tablet) {
        background-position: center bottom (-(logo-size(height, tablet) / 2));
    }

    @include mq(desktop) {
        background-position: center bottom (-(logo-size(height, desktop) / 2));
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include logo-background;
        background-position: center top (-(logo-size(height, mobile) / 2));

        @include mq(tablet) {
            background-position: center top (-(logo-size(height, tablet) / 2));
        }

        @include mq(desktop) {
            background-position: center top (-(logo-size(height, desktop) / 2));
        }
    }
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    @include logo-background;
    @include logo-container;

    @include mq(mobileLandscape) {
        @include logo-container(mobileLandscape);
    }

    @include mq(tablet) {
        @include logo-container(tablet);
    }

    @include mq(desktop) {
        @include logo-container(desktop);
    }
}

.link {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    &:hover,
    &:focus,
    &:active {
        background: black;
    }
}
