// Mailchimp
$submitWidth: 135px;

.form-container {
    margin-bottom: 26px;
    min-height: 35px;

    #mc_embed_signup {
        margin: 0 auto;

        form {
            padding: 0;
        }

        .mc-field-group {
            margin-bottom: 0;
            min-height: 0;
            padding-bottom: 0;
            width: 100%;

            @include mq(mobileLandscape) {
                float: left;
                width: $mobileLandscapeWidth - $submitWidth;
            }

            @include mq(tablet) {
                width: $tabletWidth - $submitWidth;
            }

            input {
                background-color: #eee;
                border-color: white;
                border-radius: 0;
                font-family: "Courier New", Courier, monospace;
                font-size: 14px;
                margin: 0;
            }
        }

        .mc-submit {
            margin-top: 10px;
            text-align: center;

            @include mq(mobileLandscape) {
                margin-top: 0;
                float: right;
                text-align: right;
                width: $submitWidth;
            }
        }

        div.mce_inline_error {
            background: black;
            padding-left: 0;
            color: #f00;
        }

        .button {
            border-radius: 0;
            color: black;
            font-family: "Courier New", Courier, monospace;
            font-weight: normal;
            line-height: 35px;
            margin: 0;
            height: 35px;

            &:hover,
            &:active {
                background-color: #ff0101;
            }
        }
    }
}
